In [1]:
import pandas as pd

In [11]:
# CSV 읽기
df = pd.read_csv("D:/0python_SNC/15pandas/sample.csv", encoding='cp949') #디렉토리에서는 \ 쓰면 안되고 \\두번쓰거나 / 이걸로 바꿔주기
print(df.iloc[:3, :3])
print('=======================')
print(df.loc[:2, :'지점명'])
print('=======================')
df2 =df.iloc[:3, :3]
df2 = df2.set_index('상가업소번호')
print(df2)

     상가업소번호        상호명  지점명
0  19956873     하나산부인과  NaN
1  20024149   타워광명내과의원  NaN
2  20152277  조정현신경외과의원  NaN
=======================
     상가업소번호        상호명  지점명
0  19956873     하나산부인과  NaN
1  20024149   타워광명내과의원  NaN
2  20152277  조정현신경외과의원  NaN
=======================
                상호명  지점명
상가업소번호
19956873     하나산부인과  NaN
20024149   타워광명내과의원  NaN
20152277  조정현신경외과의원  NaN