In [1]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [ ]:
# 데이터프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row)을 삭제
df2 = df.copy()            #.copy 깊은복사
df2 = df2.drop('우현')     #키를 중심으로 우현 삭제
print(df2)
print('===========')
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90
===========
    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [ ]:
# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row)을 삭제
df3 = df.copy()
print(df3)
print('===========')
df3 = df3.drop(['우현', '인아'], axis=0)    #axis (축, 방향) axis=0 은 행 기준(서준,우현,인아)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
===========
    수학  영어  음악   체육
서준  90  98  85  100

In [ ]:
# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row)을 삭제
df3 = df.copy()
print(df3)
print('===========')
df3 = df3.drop(['수학', '음악'], axis=1)    #axis (축, 방향) axis=1 이면, 컬럼이 기준(수학/영어/음악/체육) 차원에 따라 axis=2,3... 이렇게 사용가능
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
===========
    영어   체육
서준  98  100
우현  89   90
인아  95   90

In [9]:
# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 2개 행(row)을 삭제
df4 = df.copy()
print(df4)
print('===========')
df4 = df4.drop(['우현', '인아'], axis='index') #axis=0 "0"대신 "index"로 기재 가능
print(df4)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
===========
    수학  영어  음악   체육
서준  90  98  85  100

In [ ]:
# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 2개 행(row)을 삭제
df4 = df.copy()
print(df4)
print('===========')
df4 = df4.drop(['수학', '음악'], axis='columns') #axis=1 "1"대신 "columns"로 기재 가능
print(df4)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
===========
    영어   체육
서준  98  100
우현  89   90
인아  95   90

In [11]:
# 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 1개 행(row)을 삭제
df5 = df.copy()
df5 = df5.drop(index=['우현'])
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90